.contacto {
    background-color: var(--branco);
    padding: 1em;
}

.contacto__titulo, 
.contacto__texto {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contacto__titulo~{
    font-size: 18px;
    font-weight: 500;
}

.contacto__texto {
    font-weight: 300;
    margin: 1em 0;
}

.contacto__email{
    padding: 1em;
    border: 1px  solid var(--azul);
    border-radius: 24px;
    width: 90%;
    color: var(--azul);
}

.contacto__email::placeholder {
    font-family: var(--fonte-principal);
    color: var(--azul);
    background: url("../img/Envelope.svg") no-repeat;
    padding-left: 2em;
}

@media screen and (min-width: 1024px) {
    .contacto {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contacto__titulo {
        font-size: 24px;
    }

    .contacto__descricao {
        margin-right: 1em;
        width: 30%;
    }

    .contacto__email {
        width: 30%;
    }
    
}
